:root {
	--blur-window: blur(1px) grayscale(0);
	--pointer: none;
	--blur-timing: 1s;
}

.blur-window {
	transition: var(--blur-timing) linear;
	filter: var(--blur-window);
	pointer-events: var(--pointer) !important;
}

.unblur {
	transition: var(--blur-timing) linear;
	filter: none;
	pointer-events: all !important;
}
